/**Basic reset**/
/* Resetting margins, paddings, and borders */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
fieldset, legend {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Global box-sizing rule */
*, *::before, *::after {
  box-sizing: border-box;
}
/** End of Basic Reset **/

/** Specific CSS **/
h1, h2, h3, h4, h5, h6, button {
  font-family: "Source Code Pro", serif;
}

p, a, span, label {
  font-family: "Akshar", serif;
}

body {
  background-color: black;
}

nav {
  height: 12vh;
}

nav img {
  height: 80%;
}

a {
  color: white;
  text-decoration: none;
}

.nav-left {
  background-color: #00B2FF;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 80% 100%);
  border: 0.8rem solid #00B2FF;
  transition: .5s; 
}

.nav-left:hover, .nav-left:focus {
  background-color: #000;
  color: #00B2FF;
}

.nav-right {
  background-color: #A741F5;
  clip-path: polygon(0% 0%, 20% 100%, 100% 100%, 100% 0%);
  border: 0.8rem solid #A741F5;
  transition: .5s; 
}

.nav-right:hover, .nav-right:focus {
  background-color: #000;
  color: #A741F5;
}

.sectDiv {
  min-height: 3vh;
  margin: 4vh 0;
}

.break1 {
  background-color: #ec41f5;
}

.break2 {
  background-color: #f541a4;
}

.break3 {
  background-color: #ff3374;
}

footer {
  height: 15vh;
  background-color: #F541A4;
  color: white;
}

/** Reuseable Classes **/
.container {
  height: 100%;
  width: 100%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hidden{
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-around{
  justify-content: space-around;
}

.justify-between{
  justify-content: space-between;
}

.justify-evenly{
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.j-i-center {
  justify-items: center;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-all {
  grid-column: 1 / -1;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

.row-span-4 {
  grid-row: span 4 / span 4;
}

.text-center {
  text-align: center;
}

.h-full {
  height: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-full {
  width: 100%;
}

.gap {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-7 {
  gap: 1.75rem;
}

.row-gap-5 {
  row-gap: 1.25rem;
}

.font-sm {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.font-reg {
  font-size: 1rem;
  line-height: 1rem;
}

.font-md {
  font-size: 1.125rem;
  line-height: 1.125rem;
}

.font-lg {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
/** End of Reuseable Classes **/

/** Tablet Size Classes **/
@media(min-width: 600px) {
  nav {
    height: 8vh;
  }

  .t\:c-span-reset {
    grid-column: unset;
  }

  .t\:r-span-4 {
    grid-row: span 4 / span 4;
  }
  
  .tb-block {
    display: block;
  }

  .font-sm {
    font-size: 0.95rem;
    line-height: 0.95rem;
  }
  
  .font-reg {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  
  .font-md {
    font-size: 1.3rem;
    line-height: 1.35rem;
  }
  
  .font-lg {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
/** End of Tablet Size Classes **/

/** Sm Laptop Size Classes **/
@media(min-width: 1024px) {
  .SmL-block {
    display: block;
  }
}

@media(min-width: 1440px) {
  .font-reg {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .font-md {
    font-size: 1.45rem;
    line-height: 1.55rem;
  }

  .font-lg {
    font-size: 1.7rem;
    line-height: 1.8rem;
  }
}

@media(min-width: 1920px) {
  .font-sm {
    font-size: 1.35rem;
    line-height: 1.45rem;
  }

  .font-reg {
    font-size: 1.6rem;
    line-height: 1.7rem;
  }

  .font-md {
    font-size: 1.7rem;
    line-height: 1.8rem;
  }

  .font-lg {
    font-size: 2rem;
    line-height: 2.1rem;
  }
}